<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="js/jsquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js'></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <title>Noticias</title>
</head>
<body>

<div class="container">
    <!-- teste do repositorio -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="" class="navbar-brand">
            Portal de Notícias Node
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSide">
            <span class="navbar-toggler-icon"><i></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSide">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a id="menu-admin" href="/home" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a id="menu-admin" href="/noticia" class="nav-link">Cadastro Noticias</a>
                </li>
                <li class="nav-item">
                    <a id="menu-admin" href="" class="nav-link"></a>
                </li>
            </ul>
        </div>
    </nav>

    <h5 class="text text-secondary">Cadastro Manual de Notícias</h5>

    <div class="row">
        <div class="col-sm-12">
            <form action="/noticia/salvar" method="post">
                
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Titulo</label>
                        <input type="text" name="dsTitulo" class="form-control form-control-sm" placeholder="Titulo Noticias" required>
                    </div>
                
                    <div class="col-sm-2 form-group">
                        <label>Data</label>
                        <input type="date" name="dtNoticia"  class="form-control form-control-sm" required>
                    </div>
                
                    <div class="col-sm-4 form-group">
                        <label>Url</label>
                        <input type="text" name="urlNoticia" class="form-control form-control-sm" placeholder="Url Noticia" required>
                    </div>
                
                    <div class="col-sm-2 form-group">
                        <label>Categoria</label>
                        <input type="text" name="categoria" class="form-control form-control-sm" placeholder="Categoria" required>
                    </div>
                
                    <div class="col-sm-1">
                        <label>Salvar</label>
                        <button class="btn btn-success btn-block float-right"><i class="fas fa-check"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr class="table-active">
                    <th>Titulo</th>
                    <th>Data</th>
                    <th>Url</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<noticias.length; i++){ %>
                    <tr>
                        <td><%=noticias[i].dsTitulo%></td>
                        <td><%=noticias[i].Data%></td>
                        <td>
                            <a href="<%=noticias[i].urlNoticia%>" target="_blank"><%=noticias[i].urlNoticia%></a>
                        </td>
                        <td><%=noticias[i].categoria%></td>
                        <th>
                            <center>
                                <a href="/noticia/deletar/<%=noticias[i].id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </center>
                        </th>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</div>

</body>
</html>
